<div class="row">
   <div class="small-12 columns"> 
     <div style="font-size:2.5rem" class="text-right">
        <a href="https://github.com/mwdchang"><i class="fi-social-github"></i></a>
        <a href="http://ca.linkedin.com/in/mengweichang"><i class="fi-social-linkedin"></i></a>
        <a href="https://plus.google.com/photos/114361941566420058566/albums?banner=pwa"><i class="fi-social-picasa"></i></a>
        <a href="https://www.facebook.com/mengwei.d.chang"><i class="fi-social-facebook"></i></a>
        <a href="https://twitter.com/mwdchang"><i class="fi-social-twitter"></i></a>
     </div>
     <p>
         Hi, I am Daniel Chang. I work as a "Jack of all trades" software developer but specializes on front-end side of things, in particular: 
         Data Visualization, Graphics and Human Computer Interaction.
     </p>
     <p>
         I use this page to showcase some of my projects, demos and other tinkering.
     </p>
     <br>

     
     <div style="display: table">
         <div class="tile" data-ng-repeat="pic in gallery" data-ng-mouseenter="hover=true" data-ng-mouseleave="hover=false">
            <a href="{{pic.url}}" target="_blank">
               <div style="padding:1rem; position:absolute; background: #BBB; width:12rem; height: 12rem; opacity:0.7; color:#112" data-ng-if="hover===true">
                  {{pic.desc}}
               </div>
               <img data-ng-src="{{pic.img}}"></img>
            </a>
         </div>
     </div>


   
   </div>
</div>
