body {
  background: #FEFEFE;
}

small {
  line-height: 40%;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cell {
  height: 150px;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 2px;
  overflow: hidden;
  line-height: 125%;
}

.cell-title {
  font-weight: 500;
  border-left: 0.4rem solid #8BC;
  box-sizing: border-box;
  padding-left: 0.25rem;
}


.overlay{
	position:relative;
  box-sizing: border-box;
}
.overlay:before{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	background:rgba(0, 0, 0, .8);
}


.cell.overlay:before {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
	z-index: 2;
  background-color: rgba(250, 250, 250, .9);
}

.cell.overlay:hover:before {
  opacity: 1;
  border-bottom: 2px solid #333;
}

.cell img {
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.cell:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.7s ease 0.1s;
    transition: all 0.7s ease 0.1s;
}

.cell-desc {
  bottom: 0;
  left: 30px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  z-index: 5;
  color: #666;
}

.cell:hover .cell-desc {
  bottom: 30px;
  opacity: 1;
}


/*** hOverriding stuff ***/
.slick-dots li button:before {
  font-size: 10px;
  line-height: 20px;
}
